<h1>List of Questions</h1>

<% if @questions.any? %>
<ul>
  <% @questions.each do |question| %>
  <li><a id ="survey_<%=question.id %>" href="/questions/<%= question.id %>"><%= question.content %></a></li>
  <% end %>
</ul>
<% end %>

<div class="form-group">
  <form action="/questions" method="post">
    <label for="question_name">Enter a new Question Name:</label>
    <input required type="text" name="question_name" id="question_name" class="form-control">
    <br>
    <button name="submit_question" id="submit_question" class="btn btn-info" type="submit">Add Question</button>
  </form>
</div>
